{% extends 'base.html' %}
  {% block main%}
        <!-- Top Header End -->

        <!-- Start Navbar Area -->
<!--        <div class="navbar-area">-->
<!--            &lt;!&ndash; Menu For Mobile Device &ndash;&gt;-->
<!--             <div class="mobile-nav">-->
<!--                <a href="index.html" class="logo">-->
<!--                   <img src="../static/assets/img/mediplus-logo.png" class="logo-one" height="90px" width="150px" alt="Logo">-->
<!--                    <img src="../static/assets/img/mediplus-logo.png" class="logo-two" height="90px" width="150px" alt="Logo">-->
<!--                </a>-->
<!--            </div>-->

<!--            &lt;!&ndash; Menu For Desktop Device &ndash;&gt;-->
<!--            <div class="main-nav">-->
<!--                <div class="container">-->
<!--                    <nav class="navbar navbar-expand-md navbar-light ">-->
<!--                        <a class="navbar-brand" href="index.html">-->
<!--                           <img src="../static/assets/img/mediplus-logo.png" class="logo-one" height="90px" width="150px" alt="Logo">-->
<!--                    <img src="../static/assets/img/mediplus-logo.png" class="logo-two" height="90px" width="150px" alt="Logo">-->
<!--                        </a>-->

<!--                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">-->
<!--                            <ul class="navbar-nav m-auto">-->
<!--                                <li class="nav-item">-->
<!--                                    <a href="/" class="nav-link">-->
<!--                                        Home-->
<!--                                        <i class='bx bx-chevron-down'></i>-->
<!--                                    </a>-->
<!--                                    <ul class="dropdown-menu">-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="index.html" class="nav-link">-->
<!--                                                Home One  -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="index-2.html" class="nav-link">-->
<!--                                                Home Two-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="index-3.html" class="nav-link">-->
<!--                                                Home Three-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="index-4.html" class="nav-link">-->
<!--                                                Home Four-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="index-5.html" class="nav-link">-->
<!--                                                Home Five-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="index-6.html" class="nav-link">-->
<!--                                                Home Six-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="index-7.html" class="nav-link">-->
<!--                                                Home Seven-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a href="about.html" class="nav-link active">-->
<!--                                        About-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a href="#" class="nav-link">-->
<!--                                        Pages -->
<!--                                        <i class='bx bx-chevron-down'></i>-->
<!--                                    </a>-->
<!--                                    <ul class="dropdown-menu">-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="appointment.html" class="nav-link">-->
<!--                                                Appointment-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="#" class="nav-link">-->
<!--                                                Case study -->
<!--                                                <i class='bx bx-chevron-down'></i>-->
<!--                                            </a>-->
<!--                                            <ul class="dropdown-menu">-->
<!--                                                <li class="nav-item">-->
<!--                                                    <a href="case-study.html" class="nav-link">-->
<!--                                                        Case study  -->
<!--                                                    </a>-->
<!--                                                </li>-->
<!--                                                <li class="nav-item">-->
<!--                                                    <a href="case-details.html" class="nav-link">-->
<!--                                                        Case study Details -->
<!--                                                    </a>-->
<!--                                                </li>-->
<!--                                            </ul>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="departments.html" class="nav-link">-->
<!--                                                Departments  -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="faq.html" class="nav-link">-->
<!--                                                FAQ-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        -->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="testimonials.html" class="nav-link">-->
<!--                                                Testimonials-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="sign-in.html" class="nav-link">-->
<!--                                                Sign In-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="sign-up.html" class="nav-link">-->
<!--                                                Sign Up-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="terms-condition.html" class="nav-link">-->
<!--                                                Terms & Conditions-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="privacy-policy.html" class="nav-link">-->
<!--                                                Privacy Policy-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="404.html" class="nav-link">-->
<!--                                                404 page-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="coming-soon.html" class="nav-link">-->
<!--                                                Coming Soon-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->

<!--                                <li class="nav-item">-->
<!--                                    <a href="#" class="nav-link">-->
<!--                                        Doctors -->
<!--                                        <i class='bx bx-chevron-down'></i>-->
<!--                                    </a>-->
<!--                                    <ul class="dropdown-menu">-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="doctors.html" class="nav-link">-->
<!--                                                Doctors -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="doctors-details.html" class="nav-link">-->
<!--                                                Doctors Details -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->

<!--                                <li class="nav-item">-->
<!--                                    <a href="#" class="nav-link">-->
<!--                                        Services -->
<!--                                        <i class='bx bx-chevron-down'></i>-->
<!--                                    </a>-->
<!--                                    <ul class="dropdown-menu">-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="services-1.html" class="nav-link">-->
<!--                                                Services Style One -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="services-2.html" class="nav-link">-->
<!--                                                Services Style Two -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="service-details.html" class="nav-link">-->
<!--                                                Service Details -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->

<!--                                <li class="nav-item">-->
<!--                                    <a href="#" class="nav-link">-->
<!--                                        Blog-->
<!--                                        <i class='bx bx-chevron-down'></i>-->
<!--                                    </a>-->
<!--                                    <ul class="dropdown-menu">-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="blog-1.html" class="nav-link">-->
<!--                                                Blog Style One -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="blog-2.html" class="nav-link">-->
<!--                                                Blog Style Two -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="blog-details.html" class="nav-link">-->
<!--                                                Blog Details -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->

<!--                                <li class="nav-item">-->
<!--                                    <a href="/" class="nav-link">-->
<!--                                        Shop-->
<!--                                        <i class='bx bx-chevron-down'></i>-->
<!--                                    </a>-->
<!--                                    <ul class="dropdown-menu">-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="shop" class="nav-link">-->
<!--                                                Shop-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="cart" class="nav-link">-->
<!--                                                Cart-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="checkout.html" class="nav-link">-->
<!--                                                Checkout-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="shop-details" class="nav-link">-->
<!--                                                Shop Details-->
<!--                                            </a>-->
<!--                                        </li>-->

<!--                                        <li class="nav-item">-->
<!--                                            <a href="wishlist.html" class="nav-link">-->
<!--                                                Wishlist-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->

<!--                                <li class="nav-item">-->
<!--                                    <a href="contact.html" class="nav-link">-->
<!--                                        Contact-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->

<!--                            <div class="others-options d-flex align-items-center">-->
<!--                                <div class="option-item">-->
<!--                                    <i class='search-btn bx bx-search'></i>-->
<!--                                    <i class='close-btn bx bx-x'></i>-->
<!--                                    <div class="search-overlay search-popup">-->
<!--                                        <div class='search-box'>-->
<!--                                            <form class="search-form">-->
<!--                                                <input class="search-input" name="search" placeholder="Search" type="text">-->

<!--                                                <button class="search-button" type="submit">-->
<!--                                                    <i class="bx bx-search"></i>-->
<!--                                                </button>-->
<!--                                            </form>-->
<!--                                        </div>-->
<!--                                    </div>  -->
<!--                                </div>-->

<!--                                <div class="option-item">-->
<!--                                    <div class="add-cart-btn">-->
<!--                                        <a href="#" class="cart-btn-icon">-->
<!--                                            <i class='bx bx-shopping-bag'></i>-->
<!--                                            <span>0</span>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </nav>-->
<!--                </div>-->
<!--            </div>-->

            <div class="side-nav-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="circle-inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="side-nav-inner">
                            <div class="side-nav justify-content-center align-items-center">
                                <div class="side-item">
                                    <div class="option-item">
                                        <i class='search-btn bx bx-search'></i>
                                        <i class='close-btn bx bx-x'></i>
                                        <div class="search-overlay search-popup">
                                            <div class='search-box'>
                                                <form class="search-form">
                                                    <input class="search-input" name="search" placeholder="Search" type="text">

                                                    <button class="search-button" type="submit">
                                                        <i class="bx bx-search"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="option-item">
                                        <div class="add-cart-btn">
                                            <a href="index.html" class="cart-btn-icon">
                                                <i class='bx bx-shopping-bag'></i>
                                                <span>0</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!-- Inner Banner -->
        <div class="inner-banner inner-bg1">
            <div class="container">
                <div class="inner-title">
                    <h3>About Us</h3>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
            <div class="inner-banner-shape">
                <div class="shape1">
                    <img src="static/assets/img/inner-banner/inner-banner-shape1.png" alt="Images">
                </div>
                <div class="shape2">
                    <img src="static/assets/img/inner-banner/inner-banner-shape2.png" alt="Images">
                </div>
            </div>
        </div>
        <!-- Inner Banner End -->

        <!-- About Area -->
        <div class="about-area pt-100 pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-right-img">
                            <img src="https://t3.ftcdn.net/jpg/13/66/63/94/240_F_1366639455_4JPwUyQyqZOnC4SxtL5CMIKhtzuHiL31.jpg" height="700px" width="700px" alt="Images">
<!--                            <div class="about-open-hours">-->
<!--                                <h3>Open Hours</h3>-->
<!--                                <ul>-->
<!--                                    <li>-->
<!--                                        Monday-->
<!--                                        <span>8:00 am - 9:30 pm</span>-->
<!--                                    </li> -->
<!--                                    <li>-->
<!--                                        Tuesday-->
<!--                                        <span>8:00 am - 9:30 pm</span>-->
<!--                                    </li> -->
<!--                                    <li>-->
<!--                                        Wednesday-->
<!--                                        <span>8:00 am - 9:30 pm</span>-->
<!--                                    </li> -->
<!--                                    <li>-->
<!--                                        Thursday-->
<!--                                        <span>8:00 am - 9:30 pm</span>-->
<!--                                    </li> -->
<!--                                    <li>-->
<!--                                        Friday-->
<!--                                        <span>8:00 am - 9:30 pm</span>-->
<!--                                    </li> -->
<!--                                    <li>-->
<!--                                        Saturday-->
<!--                                        <span>8:00 am - 9:30 pm</span>-->
<!--                                    </li> -->
<!--                                    <li>-->
<!--                                        Sunday-->
<!--                                        <span>8:00 am - 9:30 pm</span>-->
<!--                                    </li> -->
<!--                                </ul>-->
<!--                            </div>-->
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="about-content">
                            <div class="section-title">
                                <span>About Us</span>
                                <h2>We Are Your Trusted Friend</h2>
                                <p>At Medi+, we are a trusted name in Medical Services, always standing by your side. Your health and well-being are our first priority.</p>
                                <p>
                                    Medi+ Care will be administered through plan-based customizable programs that incorporate partnership between
                                    family members and the care givers for long term illness or disease management.
                                </p>
                            </div>
                            <div class="about-card">
                                <i class='flaticon-24-hours bg-three'></i>
                                <div class="content">
                                    <span>24/7 Support</span>
                                    <p>we are open 24/7 to take care of all your medical needs — anytime, anywhere.Whether it's day or night, your health is our top priority. </p>
                                </div>
                            </div>

                            <div class="about-card">
                                <i class='flaticon-ambulance-2 bg-three'></i>
                                <div class="content">
                                    <span>Delivery Support</span>
                                    <p>we provide fast, safe, and reliable delivery of medicines and healthcare products right to your doorstep.</p>
                                </div>
                            </div>


<!--                            <div class="about-btn">-->
<!--                                <a href="#" class="default-btn-two">Explore More</a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Area End -->

        <!-- Brand Area -->
        <div class="brand-area brand-bg2">
            <div class="container">
                <div class="brand-slider owl-carousel owl-theme">
                    <div class="brand-item">
                        <img src="static/assets/img/brand/brand-logo1.png" alt="Images">
                    </div>
                    <div class="brand-item">
                        <img src="static/assets/img/brand/brand-logo2.png" alt="Images">
                    </div>
                    <div class="brand-item">
                        <img src="static/assets/img/brand/brand-logo3.png" alt="Images">
                    </div>
                    <div class="brand-item">
                        <img src="static/assets/img/brand/brand-logo4.png" alt="Images">
                    </div>
                    <div class="brand-item">
                        <img src="static/assets/img/brand/brand-logo5.png" alt="Images">
                    </div>
                    <div class="brand-item">
                        <img src="static/assets/img/brand/brand-logo6.png" alt="Images">
                    </div>
                    <div class="brand-item">
                        <img src="static/assets/img/brand/brand-logo3.png" alt="Images">
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand Area End -->

        <!-- Doctors Area -->
<!--        <div class="doctors-area ptb-100">-->
<!--            <div class="container">-->
<!--                <div class="section-title text-center">-->
<!--                    <h2>Meet Our Experts</h2>-->
<!--                    <div class="section-icon">-->
<!--                        <div class="icon">-->
<!--                            <i class="flaticon-dna"></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <p>-->
<!--                        We provide excellent services for your ultimate good health. Here some of the services are included-->
<!--                        for your better understand that we are always at your side.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="doctors-slider owl-carousel owl-theme pt-45">-->
<!--                    <div class="doctors-item">-->
<!--                        <div class="doctors-img">-->
<!--                            <a href="doctors-details.html">-->
<!--                                <img src="static/assets/img/doctors/doctors-img1.png" alt="Images">-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                            <h3><a href="doctors-details.html">Norman Colins</a></h3>-->
<!--                            <span>Surgeon, Сardiologist </span> -->
<!--                            <ul class="social-link">-->
<!--                                <li>-->
<!--                                    <a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook'></i></a>-->
<!--                                </li> -->
<!--                                <li>-->
<!--                                    <a href="https://www.twitter.com/" target="_blank"><i class='bx bxl-twitter'></i></a>-->
<!--                                </li> -->
<!--                                <li>-->
<!--                                    <a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram'></i></a>-->
<!--                                </li> -->
<!--                                <li>-->
<!--                                    <a href="https://www.linkedin.com/" target="_blank"><i class='bx bxl-linkedin'></i></a>-->
<!--                                </li> -->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="doctors-item">-->
<!--                        <div class="doctors-img">-->
<!--                            <a href="doctors-details.html">-->
<!--                                <img src="static/assets/img/doctors/doctors-img2.png" alt="Images">-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                            <h3><a href="doctors-details.html">Dr. Peter Adlock</a></h3>-->
<!--                            <span>Orthopedics Surgeon </span> -->
<!--                            <ul class="social-link">-->
<!--                                <li>-->
<!--                                    <a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook'></i></a>-->
<!--                                </li> -->
<!--                                <li>-->
<!--                                    <a href="https://www.twitter.com/" target="_blank"><i class='bx bxl-twitter'></i></a>-->
<!--                                </li> -->
<!--                                <li>-->
<!--                                    <a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram'></i></a>-->
<!--                                </li> -->
<!--                                <li>-->
<!--                                    <a href="https://www.linkedin.com/" target="_blank"><i class='bx bxl-linkedin'></i></a>-->
<!--                                </li> -->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="doctors-item">-->
<!--                        <div class="doctors-img">-->
<!--                            <a href="doctors-details.html">-->
<!--                                <img src="static/assets/img/doctors/doctors-img3.png" alt="Images">-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                            <h3><a href="doctors-details.html">Sinthy Alina</a></h3>-->
<!--                            <span>Gynecologist</span> -->
<!--                            <ul class="social-link">-->
<!--                                <li>-->
<!--                                    <a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook'></i></a>-->
<!--                                </li> -->
<!--                                <li>-->
<!--                                    <a href="https://www.twitter.com/" target="_blank"><i class='bx bxl-twitter'></i></a>-->
<!--                                </li> -->
<!--                                <li>-->
<!--                                    <a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram'></i></a>-->
<!--                                </li> -->
<!--                                <li>-->
<!--                                    <a href="https://www.linkedin.com/" target="_blank"><i class='bx bxl-linkedin'></i></a>-->
<!--                                </li> -->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="doctors-item">-->
<!--                        <div class="doctors-img">-->
<!--                            <a href="doctors-details.html">-->
<!--                                <img src="static/assets/img/doctors/doctors-img4.png" alt="Images">-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                            <h3><a href="doctors-details.html">Dr. James Alison</a></h3>-->
<!--                            <span>Neurologist</span> -->
<!--                            <ul class="social-link">-->
<!--                                <li>-->
<!--                                    <a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook'></i></a>-->
<!--                                </li> -->
<!--                                <li>-->
<!--                                    <a href="https://www.twitter.com/" target="_blank"><i class='bx bxl-twitter'></i></a>-->
<!--                                </li> -->
<!--                                <li>-->
<!--                                    <a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram'></i></a>-->
<!--                                </li> -->
<!--                                <li>-->
<!--                                    <a href="https://www.linkedin.com/" target="_blank"><i class='bx bxl-linkedin'></i></a>-->
<!--                                </li> -->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="doctors-shape">-->
<!--                <div class="doctors-shape-1">-->
<!--                    <img src="static/assets/img/doctors/doctors-shape1.png" alt="Images">-->
<!--                </div>-->
<!--                <div class="doctors-shape-2">-->
<!--                    <img src="static/assets/img/doctors/doctors-shape2.png" alt="Images">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- Doctors Area End -->

        <!-- Serve Area End -->
<!--        <div class="serve-area ptb-100">-->
<!--            <div class="container">-->
<!--                <div class="section-title text-center">-->
<!--                    <h2>See How We Serve Our Patients</h2>-->
<!--                    <div class="section-icon">-->
<!--                        <div class="icon">-->
<!--                            <i class="flaticon-dna"></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="serve-btn-area">-->
<!--                    <a href="https://www.youtube.com/watch?v=K4DyBUG242c" class="play-btn"><i class='bx bx-play'></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- Serve Area End -->

        <!-- Testimonials Area -->
<!--        <div class="testimonials-area pt-100 pb-70">-->
<!--            <div class="container">-->
<!--                <div class="section-title text-center">-->
<!--                    <span>Testimonials</span>-->
<!--                    <h2>Thoughts of Our Patients</h2>-->
<!--                </div>-->
<!--                <div class="row pt-45">-->
<!--                    <div class="col-lg-6">-->
<!--                        <div class="testimonials-img">-->
<!--                            <img src="static/assets/img/testimonials/testimonials-img.jpg" alt="Images">-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-6">-->
<!--                        <div class="testimonials-slider-area">-->
<!--                            <div class="testimonials-slider owl-carousel owl-theme">-->
<!--                                <div class="testimonials-item">-->
<!--                                    <i class="flaticon-left-quote"></i>-->
<!--                                    <p>Medizo hospital for their professional competent and committed approach they deliver at all times, making me and other patients feel at ease during these anxious times. </p>-->
<!--                                    <div class="content">-->
<!--                                        <img src="static/assets/img/testimonials/testimonials-client1.jpg" alt="Images">-->
<!--                                        <h3>Sinthy Alina</h3>-->
<!--                                        <span>Heart Patient</span>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="testimonials-item">-->
<!--                                    <i class="flaticon-left-quote"></i>-->
<!--                                    <p>Medizo hospital for their professional competent and committed approach they deliver at all times, making me and other patients feel at ease during these anxious times. </p>-->
<!--                                    <div class="content">-->
<!--                                        <img src="static/assets/img/testimonials/testimonials-client2.jpg" alt="Images">-->
<!--                                        <h3>Evanaa</h3>-->
<!--                                        <span>Diabetic Patient</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- Testimonials Area End -->

        <!-- Emergency Area Two -->
        <div class="emergency-area-two ptb-100">
            <div class="container">
                <div class="emergency-area-bg">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-6">
                            <div class="emergency-content emergency-content-ptb">
                                <h2>Get <b>Emergency</b> Care 24/7</h2>
                                <p>We are always at your side. We are 24 hours available for you in emergency situation.</p>
                                <div class="emergency-icon-content">
                                    <i class="flaticon-24-hours-1"></i>
                                    <h3><a href="tel:+91 9016440390">+ 91 9016440390</a></h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-6">
                            <div class="emergency-img">
                               <img src="https://img.freepik.com/free-vector/humanitarian-help-illustrated_23-2148508128.jpg?ga=GA1.1.1289961294.1727015130&semt=ais_hybrid&w=740" alt="Images">
                            </div>
                        </div>
                    </div>
                    <div class="emergency-shape-2">
                        <img src="static/assets/img/emergency/emergency-shape.png" alt="Images">
                    </div>
                </div>
            </div>
        </div>
        <!-- Emergency Area Two End -->

        <!-- Footer Area -->
        {% endblock%}