{% extends 'base.html' %}
  {% block main%}
{% if messages %}
{% for i in messages %}
  <script>alert("{{i}}")</script>
{% endfor %}
{% endif  %}
        <!-- Start Navbar Area -->
<!--        <div class="navbar-area">-->
<!--            &lt;!&ndash; Menu For Mobile Device &ndash;&gt;-->
<!--             <div class="mobile-nav">-->
<!--                <a href="index.html" class="logo">-->
<!--                    <img src="static/assets/img/logo.png" class="logo-one" alt="Logo">-->
<!--                    <img src="static/assets/img/logo-2.png" class="logo-two" alt="Logo">-->
<!--                </a>-->
<!--            </div>-->

<!--            &lt;!&ndash; Menu For Desktop Device &ndash;&gt;-->
<!--            <div class="main-nav">-->
<!--                <div class="container">-->
<!--                    <nav class="navbar navbar-expand-md navbar-light ">-->
<!--                        <a class="navbar-brand" href="index.html">-->
<!--                            <img src="static/assets/img/logo.png" class="logo-one" alt="Logo">-->
<!--                            <img src="static/assets/img/logo-2.png" class="logo-two" alt="Logo">-->
<!--                        </a>-->

<!--                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">-->
<!--                            <ul class="navbar-nav m-auto">-->
<!--                                <li class="nav-item">-->
<!--                                    <a href="#" class="nav-link">-->
<!--                                        Home -->
<!--                                        <i class='bx bx-chevron-down'></i>-->
<!--                                    </a>-->
<!--                                    <ul class="dropdown-menu">-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="index.html" class="nav-link">-->
<!--                                                Home One  -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="index-2.html" class="nav-link">-->
<!--                                                Home Two-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="index-3.html" class="nav-link">-->
<!--                                                Home Three-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="index-4.html" class="nav-link">-->
<!--                                                Home Four-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="index-5.html" class="nav-link">-->
<!--                                                Home Five-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="index-6.html" class="nav-link">-->
<!--                                                Home Six-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="index-7.html" class="nav-link">-->
<!--                                                Home Seven-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a href="about.html" class="nav-link">-->
<!--                                        About-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a href="#" class="nav-link">-->
<!--                                        Pages -->
<!--                                        <i class='bx bx-chevron-down'></i>-->
<!--                                    </a>-->
<!--                                    <ul class="dropdown-menu">-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="appointment.html" class="nav-link">-->
<!--                                                Appointment-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="#" class="nav-link">-->
<!--                                                Case study -->
<!--                                                <i class='bx bx-chevron-down'></i>-->
<!--                                            </a>-->
<!--                                            <ul class="dropdown-menu">-->
<!--                                                <li class="nav-item">-->
<!--                                                    <a href="case-study.html" class="nav-link">-->
<!--                                                        Case study  -->
<!--                                                    </a>-->
<!--                                                </li>-->
<!--                                                <li class="nav-item">-->
<!--                                                    <a href="case-details.html" class="nav-link">-->
<!--                                                        Case study Details -->
<!--                                                    </a>-->
<!--                                                </li>-->
<!--                                            </ul>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="departments.html" class="nav-link">-->
<!--                                                Departments  -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="faq.html" class="nav-link">-->
<!--                                                FAQ-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        -->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="testimonials.html" class="nav-link">-->
<!--                                                Testimonials-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="sign-in.html" class="nav-link">-->
<!--                                                Sign In-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="sign-up.html" class="nav-link">-->
<!--                                                Sign Up-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="terms-condition.html" class="nav-link">-->
<!--                                                Terms & Conditions-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="privacy-policy.html" class="nav-link">-->
<!--                                                Privacy Policy-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="404.html" class="nav-link">-->
<!--                                                404 page-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="coming-soon.html" class="nav-link">-->
<!--                                                Coming Soon-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->

<!--                                <li class="nav-item">-->
<!--                                    <a href="#" class="nav-link">-->
<!--                                        Doctors -->
<!--                                        <i class='bx bx-chevron-down'></i>-->
<!--                                    </a>-->
<!--                                    <ul class="dropdown-menu">-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="doctors.html" class="nav-link">-->
<!--                                                Doctors -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="doctors-details.html" class="nav-link">-->
<!--                                                Doctors Details -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->

<!--                                <li class="nav-item">-->
<!--                                    <a href="#" class="nav-link">-->
<!--                                        Services -->
<!--                                        <i class='bx bx-chevron-down'></i>-->
<!--                                    </a>-->
<!--                                    <ul class="dropdown-menu">-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="services-1.html" class="nav-link">-->
<!--                                                Services Style One -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="services-2.html" class="nav-link">-->
<!--                                                Services Style Two -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="service-details.html" class="nav-link">-->
<!--                                                Service Details -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->

<!--                                <li class="nav-item">-->
<!--                                    <a href="#" class="nav-link">-->
<!--                                        Blog-->
<!--                                        <i class='bx bx-chevron-down'></i>-->
<!--                                    </a>-->
<!--                                    <ul class="dropdown-menu">-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="blog-1.html" class="nav-link">-->
<!--                                                Blog Style One -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="blog-2.html" class="nav-link">-->
<!--                                                Blog Style Two -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="blog-details.html" class="nav-link">-->
<!--                                                Blog Details -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->

<!--                                <li class="nav-item">-->
<!--                                    <a href="#" class="nav-link active">-->
<!--                                        Shop-->
<!--                                        <i class='bx bx-chevron-down'></i>-->
<!--                                    </a>-->
<!--                                    <ul class="dropdown-menu">-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="shop.html" class="nav-link">-->
<!--                                                Shop-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="cart.html" class="nav-link active">-->
<!--                                                Cart-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="checkout.html" class="nav-link">-->
<!--                                                Checkout -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="shop-details.html" class="nav-link">-->
<!--                                                Shop Details -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="wishlist.html" class="nav-link">-->
<!--                                                Wishlist -->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->

<!--                                <li class="nav-item">-->
<!--                                    <a href="contact.html" class="nav-link">-->
<!--                                        Contact-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->

<!--                            <div class="others-options d-flex align-items-center">-->
<!--                                <div class="option-item">-->
<!--                                    <i class='search-btn bx bx-search'></i>-->
<!--                                    <i class='close-btn bx bx-x'></i>-->
<!--                                    <div class="search-overlay search-popup">-->
<!--                                        <div class='search-box'>-->
<!--                                            <form class="search-form">-->
<!--                                                <input class="search-input" name="search" placeholder="Search" type="text">-->

<!--                                                <button class="search-button" type="submit">-->
<!--                                                    <i class="bx bx-search"></i>-->
<!--                                                </button>-->
<!--                                            </form>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="option-item">-->
<!--                                    <div class="add-cart-btn">-->
<!--                                        <a href="#" class="cart-btn-icon">-->
<!--                                            <i class='bx bx-shopping-bag'></i>-->
<!--                                            <span>0</span>-->
<!--                                        </a>-->
<!--                                    </div>	-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </nav>-->
<!--                </div>-->
<!--            </div>-->

            <div class="side-nav-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="circle-inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="side-nav-inner">
                            <div class="side-nav justify-content-center align-items-center">
                                <div class="side-item">
                                    <div class="option-item">
                                        <i class='search-btn bx bx-search'></i>
                                        <i class='close-btn bx bx-x'></i>
                                        <div class="search-overlay search-popup">
                                            <div class='search-box'>
                                                <form class="search-form">
                                                    <input class="search-input" name="search" placeholder="Search" type="text">
    
                                                    <button class="search-button" type="submit">
                                                        <i class="bx bx-search"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="option-item">
                                        <div class="add-cart-btn">
                                            <a href="#" class="cart-btn-icon">
                                                <i class='bx bx-shopping-bag'></i>
                                                <span>0</span>
                                            </a>
                                        </div>	
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!-- Inner Banner -->
        <div class="inner-banner inner-bg13">
            <div class="container">
                <div class="inner-title">
                    <h3>Cart</h3>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Cart</li>
                    </ul>
                </div>
            </div>
            <div class="inner-banner-shape">
                <div class="shape1">
                    <img src="static/assets/img/inner-banner/inner-banner-shape1.png" alt="Images">
                </div>
                <div class="shape2">
                    <img src="static/assets/img/inner-banner/inner-banner-shape2.png" alt="Images">
                </div>
            </div>
        </div>
        <!-- Inner Banner End -->

        <!-- Start Cart Area -->
			<section class="cart-wraps-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<form method="post" action="placeorder">{% csrf_token %}
							<div class="cart-wraps">
								<div class="cart-table table-responsive">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th scope="col">Product</th>
												<th scope="col">Name</th>
												<th scope="col">Unit Price</th>
												<th scope="col">Quantity</th>
												<th scope="col">Total</th>
											</tr>
										</thead>

										<tbody class="text-dark">
                                        {% for data in allcartdata %}
                                        <tr>
                                            <td class="product-thumbnail">
                                                <img src="{{data.product_id.image.url}}" height="100px" width="100px"
                                                     alt="=Product Image">
                                            </td>


                                            <td class="product-name">
                                               <a> {{data.product_id.name}}</a>
                                            </td>

                                            <td class="product-price">
                                                <span class="unit-amount">Rs. {{data.product_id.price}}</span>
                                            </td>

                                            <td class="product-quantity">
                                                <div class="input-counter">
														<span class="minus-btn">
															<a href="decrease/{{data.id}}" class='bx bx-minus/'>-</a>
														</span>
                                                    <input type="text" value="{{data.quantity}}">
                                                    <span class="plus-btn">
															<a href="increase/{{data.id}}" class='bx bx-plus/'>+</a>
														</span>
                                                </div>
                                            </td>

                                            <td class="product-subtotal">
                                                <span class="subtotal-amount">Rs.{{data.totalamount}}</span>

                                                <a href="remove/{{data.id}}" class="remove">
                                                    <i class='bx bx-x-circle'></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                        <tr>
                                            <td align="left"><h2>Cart Total:</h2></td>
                                            <td colspan="1" align="right"><strong><h4>RS. {{total}}</h4></strong>  </td>

                                        </tr>

<!--											<tr>-->
<!--												<td class="product-thumbnail">-->
<!--													<a href="#">-->
<!--														<img src="assets/img/product/product2.png" alt="Image">-->
<!--													</a>-->
<!--												</td>-->

<!--												<td class="product-name">-->
<!--													<a href="#">Tocilizumab</a>-->
<!--												</td>-->

<!--												<td class="product-price">-->
<!--													<span class="unit-amount">$30.00</span>-->
<!--												</td>-->

<!--												<td class="product-quantity">-->
<!--													<div class="input-counter">-->
<!--														<span class="minus-btn">-->
<!--															<i class='bx bx-minus'></i>-->
<!--														</span>-->
<!--														<input type="text" value="1">-->
<!--														<span class="plus-btn">-->
<!--															<i class='bx bx-plus'></i>-->
<!--														</span>-->
<!--													</div>-->
<!--												</td>-->

<!--												<td class="product-subtotal">-->
<!--													<span class="subtotal-amount">$30.00</span>-->

<!--													<a href="#" class="remove">-->
<!--														<i class='bx bx-x-circle'></i>-->
<!--													</a>-->
<!--												</td>-->
<!--											</tr>-->

<!--											<tr>-->
<!--												<td class="product-thumbnail">-->
<!--													<a href="#">-->
<!--														<img src="assets/img/product/product3.png" alt="Image">-->
<!--													</a>-->
<!--												</td>-->

<!--												<td class="product-name">-->
<!--													<a href="#">Dexamethasone</a>-->
<!--												</td>-->

<!--												<td class="product-price">-->
<!--													<span class="unit-amount"> $75.00</span>-->
<!--												</td>-->

<!--												<td class="product-quantity">-->
<!--													<div class="input-counter">-->
<!--														<span class="minus-btn">-->
<!--															<i class='bx bx-minus'></i>-->
<!--														</span>-->
<!--														<input type="text" value="1">-->
<!--														<span class="plus-btn">-->
<!--															<i class='bx bx-plus'></i>-->
<!--														</span>-->
<!--													</div>-->
<!--												</td>-->

<!--												<td class="product-subtotal">-->
<!--													<span class="subtotal-amount">$75.00</span>-->

<!--													<a href="#" class="remove">-->
<!--														<i class='bx bx-x-circle'></i>-->
<!--													</a>-->
<!--												</td>-->
<!--											</tr>-->

<!--											<tr>-->
<!--												<td class="product-thumbnail">-->
<!--													<a href="#">-->
<!--														<img src="assets/img/product/product4.png" alt="Image">-->
<!--													</a>-->
<!--												</td>-->

<!--												<td class="product-name">-->
<!--													<a href="#">Xeljanz</a>-->
<!--												</td>-->

<!--												<td class="product-price">-->
<!--													<span class="unit-amount">$50.00</span>-->
<!--												</td>-->

<!--												<td class="product-quantity">-->
<!--													<div class="input-counter">-->
<!--														<span class="minus-btn">-->
<!--															<i class='bx bx-minus'></i>-->
<!--														</span>-->
<!--														<input type="text" value="1">-->
<!--														<span class="plus-btn">-->
<!--															<i class='bx bx-plus'></i>-->
<!--														</span>-->
<!--													</div>-->
<!--												</td>-->

<!--												<td class="product-subtotal">-->
<!--													<span class="subtotal-amount">$50.00</span>-->

<!--													<a href="#" class="remove">-->
<!--														<i class='bx bx-x-circle'></i>-->
<!--													</a>-->
<!--												</td>-->
<!--											</tr>-->
										</tbody>
									</table>
								</div>

<!--								<div class="cart-buttons">-->
<!--									<div class="row align-items-center">-->
<!--										<div class="col-lg-7 col-sm-7 col-md-7">-->
<!--											<div class="continue-shopping-box">-->
<!--												<a href="#" class="default-btn">-->
<!--													Continue Shopping-->
<!--												</a>-->
<!--											</div>-->
<!--										</div>-->

<!--										<div class="col-lg-5 col-sm-5 col-md-5 text-end">-->
<!--											<a href="#" class=" default-btn">-->
<!--												Update Cart-->
<!--											</a>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
                            </div>
	<br><div class="row">
								<div class="col-lg-6">
                                    <form action="placeorder" method="post" >{% csrf_token %}
                                        <div class="mb-3">
                        <input type="hidden" name="total" value="{{total}}">
                        <label for="deliveyAddess" class="form-label border-secondary">Delivery Address</label>
                        <textarea class="form-control border-secondary" id="deliveyAddess" name="address" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Phone Number</label>
                        <input type="tel" class="form-control border-secondary" id="quantity" name="phone" min="1" required>
                    </div>
                    <div class="mb-3">
                        <label for="paymentMode" class="form-label">Payment Mode</label><br>
                        <select class="form-control border-secondary" id="paymentMode" name="paymode" required>
                            <option value="offline">Cash on delivery</option>
                            <option value="online">Online Payment</option>
                        </select>
                    </div><br><br>
                    <button type="submit" class="btn btn-primary">Place Order</button>
                </form>
								</div>
							</div>
<!--							<div class="row">-->
<!--								<div class="col-lg-6">-->
<!--									<div class="cart-calc">-->
<!--										<div class="cart-wraps-form">-->
<!--											<h3>Calculate Shipping</h3>-->
<!--											<div class="row">-->
<!--												<div class="col-lg-6">-->
<!--													<div class="form-group">-->
<!--														<select>-->
<!--															<option value="">Credit Card Type</option>-->
<!--															<option value="">Another option</option>-->
<!--															<option value="">A option</option>-->
<!--														</select>-->
<!--													</div>-->
<!--                                                </div>-->
<!--												<div class="form-group col-lg-6">-->
<!--													<input type="text" class="form-control" placeholder="Credit Card Number">-->
<!--												</div>-->
<!--												<div class="form-group col-12">-->
<!--													<input type="text" class="form-control" placeholder="Card Verification Number">-->
<!--												</div>-->
<!--											</div>-->
<!--											<div class="form-group">-->
<!--												<input type="text" class="form-control" placeholder="Coupon Code">-->
<!--											</div>-->
<!--											<a href="#" class="default-btn default-hot-toddy">-->
<!--												Apply Coupon-->
<!--											</a>-->
<!--										</div>-->
<!--									</div>-->
<!--                                </div>-->

<!--								<div class="col-lg-6">-->
<!--									<div class="cart-totals">-->
<!--										<h3>Cart Totals</h3>-->
<!--										<ul>-->
<!--											<li>Subtotal <span>$150.00</span></li>-->
<!--											<li>Shipping <span>$30.00</span></li>-->
<!--											<li>Coupon <span>$20.00</span></li>-->
<!--											<li>Total <span><b>$160.00</b></span></li>-->
<!--										</ul>-->
<!--										<a href="#" class="default-btn default-hot-toddy">-->
<!--											Proceed To Checkout-->
<!--										</a>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
						</form>
					</div>
				</div>
			</div>
		</section>
		<!-- End Cart Area -->

        <!-- Footer Area -->
        {% endblock%}