{% extends 'base.html' %}
  {% block main%}
{% if messages %}
{% for i in messages %}
  <script>alert("{{i}}")</script>
{% endfor %}
{% endif  %}
        <!-- Banner Area Two -->
        <div class="banner-area-two banner-bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="banner-content-two">
                            <span style="font-size:40px ">Welcome To Medi+</span>
                            <h1>A Haven for Health and Healing</h1>
                            <h3 style="color:white ">We combine compassion with innovation to provide exceptional care. Discover a wide range of services tailored for your unique health needs.</h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="banner-img-2">
                    <img class="img-medicine" src="static/assets/img/doctors/medicine-lo.jpeg" height="700px" >
            </div>
        </div>
        <!-- Banner Area Two End  -->

        <!-- Banner Bottom Two -->
        <div class="banner-bottom-two pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="banner-bottom-item">
                            <i class='flaticon-first-aid-kit'></i>
                            <h3>Cronic Condition Support</h3>
                            <p>  Dedicated support for diabetes, hypertension, and autoimmune diseases with automated refill reminders.</p>
                            <div class="circle"></div>
                            <div class="line"></div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="banner-bottom-item">
                            <i class='flaticon-fast-delivery'></i>
                            <h3>Fast & Reliable Delivery</h3>
                            <p>Get medicines delivered within 2 hours in cities, with temperature-controlled packaging for sensitive medications.</p>
                            <div class="circle"></div>
                            <div class="line"></div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 offset-lg-0 offset-sm-3">
                        <div class="banner-bottom-item">
                            <i class='flaticon-laptop'></i>
                            <h3>Online Shop</h3>
                            <p> Browse and order from our extensive inventory of medicines and wellness products.</p>
                            <div class="circle"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Bottom End -->

        <!-- About Area -->
        <div class="about-area pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-right-img">
<!--                            <img src="static/assets/img/about-img/about-img2.jpg" alt="Images">-->
<!--                            <div class="about-open-hours">-->
<!--                                <h3>Open Hours</h3>-->
<!--                                <ul>-->
<!--                                    <li>-->
<!--                                        Monday-->
<!--                                        <span>8:00 am - 9:30 pm</span>-->
<!--                                    </li> -->
<!--                                    <li>-->
<!--                                        Tuesday-->
<!--                                        <span>8:00 am - 9:30 pm</span>-->
<!--                                    </li> -->
<!--                                    <li>-->
<!--                                        Wednesday-->
<!--                                        <span>8:00 am - 9:30 pm</span>-->
<!--                                    </li> -->
<!--                                    <li>-->
<!--                                        Thursday-->
<!--                                        <span>8:00 am - 9:30 pm</span>-->
<!--                                    </li> -->
<!--                                    <li>-->
<!--                                        Friday-->
<!--                                        <span>8:00 am - 9:30 pm</span>-->
<!--                                    </li> -->
<!--                                    <li>-->
<!--                                        Saturday-->
<!--                                        <span>8:00 am - 9:30 pm</span>-->
<!--                                    </li> -->
<!--                                    <li>-->
<!--                                        Sunday-->
<!--                                        <span>8:00 am - 9:30 pm</span>-->
<!--                                    </li> -->
<!--                                </ul>-->
                            </div>
                        </div>
                    </div>

<!--                    <div class="col-lg-6">-->
<!--                        <div class="about-content">-->
<!--                            <div class="section-title">-->
<!--                                <span>About Us</span>-->
<!--                                <h2>We Are Your Trusted Friend</h2>-->
<!--                                <p>Medizo is a trusted name of Medical Services who is always at your side and your health is our first priority.</p>-->
<!--                                <p>-->
<!--                                    Medizo Care will be administered through plan-based customizable programs that incorporate partnership between -->
<!--                                    family members and the care givers for long term illness or disease management.-->
<!--                                </p>-->
<!--                            </div>-->
<!--                            <div class="about-card">-->
<!--                                <i class='flaticon-24-hours bg-three'></i>-->
<!--                                <div class="content">-->
<!--                                    <span>24/7 Support</span>-->
<!--                                    <p>Our medical team of  different department for long term illness writers and editors makes all the </p>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="about-card">-->
<!--                                <i class='flaticon-ambulance-2 bg-three'></i>-->
<!--                                <div class="content">-->
<!--                                    <span>Emergency Support</span>-->
<!--                                    <p>Our medical team of  different department for long term illness writers and editors makes all the</p>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="about-btn">-->
<!--                                <a href="#" class="default-btn-two">Explore More</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <!-- About Area End -->

        <!-- Appointment Area -->
<!--        <div class="appointment-area appointment-bg">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-6">-->
<!--                        <div class="appointment-from-area">-->
<!--                            <div class="appointment-from">-->
<!--                                <h2>Registrations</h2>-->
<!--                                <p>Online Easily During This Corona Pandemic</p>-->
<!--                                <form>-->

<!--                                    <div class="row">-->
<!--                                        <div class="col-lg-12 col-sm-12">-->
<!--                                            <div class="form-group">-->
<!--                                                <select class="form-control">-->
<!--                                                    <option value="">Select Departments</option>-->
<!--                                                    <option value="">Dental Care</option>-->
<!--                                                    <option value="">Cardiology</option>-->
<!--                                                    <option value="">Neurology</option>-->
<!--                                                    <option value="">Orthopedics</option>-->
<!--                                                    <option value="">Medicine</option>-->
<!--                                                </select>	-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--    -->
<!--                                        <div class="col-lg-12 col-sm-12">-->
<!--                                            <div class="form-group">-->
<!--                                                <select class="form-control">-->
<!--                                                    <option value="">Select Doctor</option>-->
<!--                                                    <option value="">Dr. James Adult</option>-->
<!--                                                    <option value="">Dr. James Alison</option>-->
<!--                                                    <option value="">Dr. Peter Adlock</option>-->
<!--                                                    <option value="">Dr. Jelin Alis</option>-->
<!--                                                    <option value="">Dr. Josh Taylor</option>-->
<!--                                                    <option value="">Dr. Steven Smith</option>-->
<!--                                                </select>	-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        -->
<!--                                        <div class="col-lg-12 col-sm-12">-->
<!--                                            <div class="form-group">-->
<!--                                                <select class="form-control">-->
<!--                                                    <option value="">Select Specialist</option>-->
<!--                                                    <option value="">Cardiologists</option>-->
<!--                                                    <option value="">Dermatologists</option>-->
<!--                                                    <option value="">Endocrinologists</option>-->
<!--                                                    <option value="">Gastroenterologists</option>-->
<!--                                                    <option value="">Allergists</option>-->
<!--                                                    <option value="">Immunologists</option>-->
<!--                                                </select>	-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--    -->
<!--                                        <div class="col-lg-6 col-sm-6">-->
<!--                                            <div class="form-group">-->
<!--                                                <input type="text" name="name" class="form-control" required data-error="Please enter your name" placeholder="Name">-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--        -->
<!--                                        <div class="col-lg-6 col-sm-6">-->
<!--                                            <div class="form-group">-->
<!--                                                <input type="email" name="email"  class="form-control" required data-error="Please enter your email" placeholder="Email">-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--        -->
<!--                                        <div class="col-lg-12 col-sm-12">-->
<!--                                            <div class="form-group">-->
<!--                                                <div class="input-group date" id="datetimepicker">-->
<!--                                                    <input type="text" class="form-control" placeholder="Select Time">-->
<!--                                                    <span class="input-group-addon"></span>-->
<!--                                                </div>	-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--        -->
<!--                                        <div class="col-lg-12 col-md-12">-->
<!--                                            <button type="submit" class="default-btn">-->
<!--                                                Book An Appointment-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="appointment-img-2">-->
<!--                <img src="static/assets/img/appointment/appointment-img2.png" alt="Images">-->
<!--            </div>-->
<!--            <div class="appointment-shape">-->
<!--                <img src="static/assets/img/appointment/appointment-shape.png" alt="Images">-->
<!--            </div>-->
<!--        </div>-->
        <!-- Appointment Area End -->

        <!-- Service Area End -->
<!--        <section class="service-area pt-100 pb-70">-->
<!--            <div class="container">-->
<!--                <div class="section-title text-center">-->
<!--                    <h2>Services That We Provide</h2>-->
<!--                    <div class="section-icon">-->
<!--                        <div class="icon">-->
<!--                            <i class="flaticon-dna"></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <p>-->
<!--                        We provide excellent services for your ultimate good health. Here some of the services are included-->
<!--                        for your better understand that we are always at your side.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="row pt-45">-->
<!--                    <div class="col-lg-4 col-md-6">-->
<!--                        <div class="service-card">-->
<!--                            <a href="service-details"><img src="static/assets/img/services/service-img1.jpg" alt="Images"></a>-->
<!--                            <div class="service-content">-->
<!--                                <div class="service-icon">-->
<!--                                    <i class="flaticon-doctor"></i>-->
<!--                                </div>-->
<!--                                <h3><a href="service-details">Medical Counselling</a></h3>-->
<!--                                <div class="content">-->
<!--                                    <p>We provide  wide range of medical counselling by the professional doctor & therapist.</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="service-shape-1">-->
<!--                                <img src="static/assets/img/services/service-shape1.png" alt="Images">-->
<!--                            </div>-->
<!--                            <div class="service-shape-2">-->
<!--                                <img src="static/assets/img/services/service-shape2.png" alt="Images">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-4 col-md-6">-->
<!--                        <div class="service-card">-->
<!--                            <a href="service-details"><img src="static/assets/img/services/service-img2.jpg" alt="Images"></a>-->
<!--                            <div class="service-content">-->
<!--                                <div class="service-icon">-->
<!--                                    <i class="flaticon-syringe"></i>-->
<!--                                </div>-->
<!--                                <h3><a href="service-details">Laboratory Test</a></h3>-->
<!--                                <div class="content">-->
<!--                                    <p>We provide  wide range of medical counselling by the professional doctor & therapist.</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="service-shape-1">-->
<!--                                <img src="static/assets/img/services/service-shape1.png" alt="Images">-->
<!--                            </div>-->
<!--                            <div class="service-shape-2">-->
<!--                                <img src="static/assets/img/services/service-shape2.png" alt="Images">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-4 col-md-6">-->
<!--                        <div class="service-card">-->
<!--                            <a href="service-details"><img src="static/assets/img/services/service-img3.jpg" alt="Images"></a>-->
<!--                            <div class="service-content">-->
<!--                                <div class="service-icon">-->
<!--                                    <i class="flaticon-male"></i>-->
<!--                                </div>-->
<!--                                <h3><a href="service-details">Surgical Operation</a></h3>-->
<!--                                <div class="content">-->
<!--                                    <p>We provide  wide range of medical counselling by the professional doctor & therapist.</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="service-shape-1">-->
<!--                                <img src="static/assets/img/services/service-shape1.png" alt="Images">-->
<!--                            </div>-->
<!--                            <div class="service-shape-2">-->
<!--                                <img src="static/assets/img/services/service-shape2.png" alt="Images">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-4 col-md-6">-->
<!--                        <div class="service-card">-->
<!--                            <a href="service-details"><img src="static/assets/img/services/service-img4.jpg" alt="Images"></a>-->
<!--                            <div class="service-content">-->
<!--                                <div class="service-icon">-->
<!--                                    <i class="flaticon-stethoscope-1"></i>-->
<!--                                </div>-->
<!--                                <h3><a href="service-details">Medical Treatment</a></h3>-->
<!--                                <div class="content">-->
<!--                                    <p>We provide  wide range of medical counselling by the professional doctor & therapist.</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="service-shape-1">-->
<!--                                <img src="static/assets/img/services/service-shape1.png" alt="Images">-->
<!--                            </div>-->
<!--                            <div class="service-shape-2">-->
<!--                                <img src="static/assets/img/services/service-shape2.png" alt="Images">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-4 col-md-6">-->
<!--                        <div class="service-card">-->
<!--                            <a href="service-details"><img src="static/assets/img/services/service-img5.jpg" alt="Images"></a>-->
<!--                            <div class="service-content">-->
<!--                                <div class="service-icon">-->
<!--                                    <i class="flaticon-caduceus-symbol"></i>-->
<!--                                </div>-->
<!--                                <h3><a href="service-details">Pharmacy Service</a></h3>-->
<!--                                <div class="content">-->
<!--                                    <p>We provide  wide range of medical counselling by the professional doctor & therapist.</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="service-shape-1">-->
<!--                                <img src="static/assets/img/services/service-shape1.png" alt="Images">-->
<!--                            </div>-->
<!--                            <div class="service-shape-2">-->
<!--                                <img src="static/assets/img/services/service-shape2.png" alt="Images">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-4 col-md-6">-->
<!--                        <div class="service-card">-->
<!--                            <a href="service-details"><img src="static/assets/img/services/service-img6.jpg" alt="Images"></a>-->
<!--                            <div class="service-content">-->
<!--                                <div class="service-icon">-->
<!--                                    <i class="flaticon-ambulance-2"></i>-->
<!--                                </div>-->
<!--                                <h3><a href="service-details">Emergency Services</a></h3>-->
<!--                                <div class="content">-->
<!--                                    <p>We provide  wide range of medical counselling by the professional doctor & therapist.</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="service-shape-1">-->
<!--                                <img src="static/assets/img/services/service-shape1.png" alt="Images">-->
<!--                            </div>-->
<!--                            <div class="service-shape-2">-->
<!--                                <img src="static/assets/img/services/service-shape2.png" alt="Images">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="service-dots">-->
<!--                <img src="static/assets/img/services/service-dots.png" alt="">-->
<!--            </div>-->
<!--        </section>-->
        <!-- Service Area End -->

        <!-- Brand Area -->
        <div class="brand-area brand-bg2">
            <div class="container">
                <div class="brand-slider owl-carousel owl-theme">
                    <div class="brand-item">
                        <img src="static/assets/img/brand/brand-logo1.png" alt="Images">
                    </div>
                    <div class="brand-item">
                        <img src="static/assets/img/brand/brand-logo2.png" alt="Images">
                    </div>
                    <div class="brand-item">
                        <img src="static/assets/img/brand/brand-logo3.png" alt="Images">
                    </div>
                    <div class="brand-item">
                        <img src="static/assets/img/brand/brand-logo4.png" alt="Images">
                    </div>
                    <div class="brand-item">
                        <img src="static/assets/img/brand/brand-logo5.png" alt="Images">
                    </div>
                    <div class="brand-item">
                        <img src="static/assets/img/brand/brand-logo6.png" alt="Images">
                    </div>
                    <div class="brand-item">
                        <img src="static/assets/img/brand/brand-logo3.png" alt="Images">
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand Area End -->

        <!-- Product Area -->
        <div class="product-area pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Visit Our Online Pharmacy</h2>
                    <div class="section-icon">
                        <div class="icon">
                            <i class="flaticon-dna"></i>
                        </div>
                    </div>
                </div>
         <div class="row pt-45">
    {% for product in alldata|slice:":8" %}
    <div class="col-lg-3 col-sm-6 my-5">
        <div class="product-card">
            <div class="product-img">
                <a href="details/{{product.id}}"><img src="/media/{{product.image}}" alt="Images"></a>
                <div class="product-add">
                    <ul>
                        <li><a href="details/{{product.id}}"><i class="flaticon-view"></i></a></li>
                        <li><a href=""><i class="flaticon-testing"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <h4>{{product.cat_id.name}}</h4>
                <h3>{{product.name}} </h3>
<!--                <div class="rating">-->
<!--                    <i class='bx bxs-star'></i>-->
<!--                    <i class='bx bxs-star'></i>-->
<!--                    <i class='bx bxs-star'></i>-->
<!--                    <i class='bx bxs-star'></i>-->
<!--                    <i class='bx bx-star'></i>-->
<!--                </div>-->
                <span><b>Rs. {{ product.price}}</b></span>
<!--                <div class="product-btn">-->
<!--                    <a href="cart" class="add-btn">Add To Cart <i class="flaticon-shopping-cart icon"></i></a>-->
<!--                    <a href="wishlist" class="wishlist-btn"><i class="flaticon-heart"></i></a>-->
<!--                </div>-->
            </div>
        </div>
    </div>
    {% endfor %}
</div>
            </div>

            <div class="product-shape">
                <img src="static/assets/img/product/product-shape.png" alt="Images">
            </div>
        </div>
        <!-- Product Area End -->

        <!-- Prescription Area -->
<!--        <div class="prescription-area pb-100">-->
<!--            <div class="container">-->
<!--                <div class="prescription-bg-3 ptb-100">-->
<!--                    <div class="row">-->
<!--                        <div class="col-lg-8">-->
<!--                            <div class="prescription-content">-->
<!--                                <h2>Give Prescription Get Medicine</h2>-->
<!--                                <p>Give your prescription online and get the medicine at your door at this corona pandemic. Stay home Stay Safe.</p>-->
<!--                                <a href="#" class="prescription-btn">-->
<!--                                    Upload Prescription-->
<!--                                    <i class="flaticon-upload"></i>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="prescription-shape">-->
<!--                        <img src="static/assets/img/prescription/prescription-shape.png" alt="Images">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- Prescription Area End -->

        <!-- Case Study Area -->
     <div class="why-choose-us-section">
    <div class="container">
         <div class="section-title text-center">
            <h2>Our Achievements</h2>
            <div class="section-icon">
                <div class="icon">
                    <i class="fas fa-trophy"></i>
                </div>
            </div>
        </div>
        <div class="stats-container">
            <div class="stat-item">
                <div class="stat-icon">
                    <i class="fas fa-users"></i>
                </div>
                <div class="stat-content">
                    <div class="stat-number">46 Million+</div>
                    <div class="stat-text">Registered users as of Oct 31, 2024</div>
                </div>
            </div>

            <div class="stat-item">
                <div class="stat-icon">
                    <i class="fas fa-shopping-basket"></i>
                </div>
                <div class="stat-content">
                    <div class="stat-number">66 Million+</div>
                    <div class="stat-text">Orders on PharmEasy till date</div>
                </div>
            </div>

            <div class="stat-item">
                <div class="stat-icon">
                    <i class="fas fa-boxes"></i>
                </div>
                <div class="stat-content">
                    <div class="stat-number">60,000+</div>
                    <div class="stat-text">Unique items sold last 6 months</div>
                </div>
            </div>

            <div class="stat-item">
                <div class="stat-icon">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="stat-content">
                    <div class="stat-number">19,000+</div>
                    <div class="stat-text">Pin codes serviced last 3 months</div>
                </div>
            </div>
        </div>
    </div>
</div>


        <!-- Case Study Area End -->

        <!-- Testimonials Area -->
        <div class="testimonials-area pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <span>Testimonials</span>
                    <h2>Thoughts of Our Customer</h2>
                </div>
                <div class="row pt-45">
                    <div class="col-lg-6">
                        <div class="testimonials-img">
                            <img src="static/assets/img/testimonials/testimonials-img.jpg" alt="Images">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="testimonials-slider-area">
                            <div class="testimonials-slider owl-carousel owl-theme">
                                <div class="testimonials-item">
                                    <i class="flaticon-left-quote"></i>
                                    <p>Your trusted online pharmacy – Quality medicines delivered to your doorstep with care and convenience. </p>
<!--                                    <div class="content">-->
<!--                                        <img src="static/assets/img/testimonials/testimonials-client1.jpg" alt="Images">-->
<!--                                        <h3>Sinthy Alina</h3>-->
<!--                                        <span>Heart Patient</span>-->
<!--                                    </div>-->
                                </div>
                                <div class="testimonials-item">
                                    <i class="flaticon-left-quote"></i>
                                    <p>Health starts here – Authentic medicines, expert advice, and swift delivery for your well-being.</p>
<!--                                    <div class="content">-->
<!--                                        <img src="static/assets/img/testimonials/testimonials-client1.jpg" alt="Images">-->
<!--                                        <h3>Sinthy Alina</h3>-->
<!--                                        <span>Heart Patient</span>-->
<!--                                    </div>-->
                                </div>
                                <div class="testimonials-item">
                                    <i class="flaticon-left-quote"></i>
                                    <p>Buy genuine medicines at affordable prices – Fast, secure, and hassle-free healthcare solutions for you and your family. </p>
<!--                                    <div class="content">-->
<!--                                        <img src="static/assets/img/testimonials/testimonials-client2.jpg" alt="Images">-->
<!--                                        <h3>Evanaa</h3>-->
<!--                                        <span>Diabetic Patient</span>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonials Area End -->

        <!-- Blog Area -->
<!--        <div class="blog-area pt-100 pb-70">-->
<!--            <div class="container">-->
<!--                <div class="section-title text-center">-->
<!--                    <h2>Our News & Updates</h2>-->
<!--                    <div class="section-icon">-->
<!--                        <div class="icon">-->
<!--                            <i class="flaticon-dna"></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <p>-->
<!--                        We provide excellent services for your ultimate good health. Here some of the services are included-->
<!--                        for your better understand that we are always at your side.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="row pt-45">-->
<!--                    <div class="col-lg-4 col-md-6">-->
<!--                        <div class="blog-item">-->
<!--                            <div class="blog-item-img">-->
<!--                                <a href="blog-details">-->
<!--                                    <img src="static/assets/img/blog/blog-img.jpg" alt="Images">-->
<!--                                </a>-->
<!--                                <div class="date">-->
<!--                                    <ul>-->
<!--                                        <li>16</li>-->
<!--                                        <li>Mar</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="content">-->
<!--                                <span class="topic">-->
<!--                                    <a href="#">Healthcare</a>-->
<!--                                </span>-->
<!--                                <h3>-->
<!--                                    <a href="blog-details"> Lockdowns Leads to Fewer Peo - Ple Seeking Medical Care</a>-->
<!--                                </h3>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-4 col-md-6">-->
<!--                        <div class="blog-item">-->
<!--                            <div class="blog-item-img">-->
<!--                                <a href="blog-details">-->
<!--                                    <img src="static/assets/img/blog/blog-img2.jpg" alt="Images">-->
<!--                                </a>-->
<!--                                <div class="date">-->
<!--                                    <ul>-->
<!--                                        <li>18</li>-->
<!--                                        <li>Mar</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="content">-->
<!--                                <span class="topic">-->
<!--                                    <a href="#">Healthcare</a>-->
<!--                                </span>-->
<!--                                <h3>-->
<!--                                    <a href="blog-details"> Emergency Medicine Resea - rch Course for the Doctors</a>-->
<!--                                </h3>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">-->
<!--                        <div class="blog-item">-->
<!--                            <div class="blog-item-img">-->
<!--                                <a href="blog-details">-->
<!--                                    <img src="static/assets/img/blog/blog-img3.jpg" alt="Images">-->
<!--                                </a>-->
<!--                                <div class="date">-->
<!--                                    <ul>-->
<!--                                        <li>28</li>-->
<!--                                        <li>Mar</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="content">-->
<!--                                <span class="topic">-->
<!--                                    <a href="#">Healthcare</a>-->
<!--                                </span>-->
<!--                                <h3>-->
<!--                                    <a href="blog-details"> Advance Care Planning Information Session - 2024</a>-->
<!--                                </h3>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-12">-->
<!--                        <div class="blog-more-btn">-->
<!--                            <a href="#" class="default-btn-two">Explore More</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="blog-shape-icon">-->
<!--                <i class="flaticon-dna"></i>-->
<!--            </div>-->
<!--        </div>-->
        <!-- Blog Area End -->

        <!-- Subscribe Area -->
<!--        <div class="subscribe-area ptb-100">-->
<!--            <div class="container">-->
<!--                <div class="newsletter-area">-->
<!--                    <h2>Subscribe Our <b>Newsletter</b></h2>-->
<!--                    <p>We are always at your side. We are 24 hours avail- able for you in emergency situation.</p>-->
<!--                    <form class="newsletter-form" data-toggle="validator" method="POST">-->
<!--                        <input type="email" class="form-control" placeholder="Enter Your Email Address" name="EMAIL" required autocomplete="off">-->
<!--                        <button class="subscribe-btn" type="submit">-->
<!--                            Subscribe  -->
<!--                        </button>-->
<!--                        <div id="validator-newsletter" class="form-result"></div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="subscribe-shape">-->
<!--                <img src="static/assets/img/subscribe-img/subscribe-shape.png" alt="Images">-->
<!--            </div>-->
<!--        </div>-->
        <!-- Subscribe Area End -->
   {% endblock%}
